{% extends 'front/_base.html' %}
{% load static %}
{% block content %}

    <div class="tl-guide-wrapper">
        <div class="tl-guide-container">
            <!-- ヘッダーセクション -->
            <div class="tl-guide-header">
                <h1 class="tl-guide-title">コレクション機能の使い方</h1>
                <p class="tl-guide-subtitle">写真や動画をアルバムとしてまとめてファンと共有する機能のガイド</p>
            </div>

            <!-- メインナビゲーション -->
            <div class="tl-guide-nav">
                <button class="tl-guide-nav-item active" onclick="tlGuideShowContent('overview')">
                    概要
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('create')">
                    作成方法
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('edit')">
                    編集・削除
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('features')">
                    詳細機能
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('sort')">
                    並べ替え機能
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('permissions')">
                    権限設定
                </button>
            </div>

            <!-- 概要コンテンツ -->
            <div class="tl-guide-content active" id="tl-guide-overview-content">
                <div class="tl-guide-card">
                    <!-- 機能概要 -->
                    <h2 class="tl-guide-h2-mb-1">コレクションの機能概要</h2>
                    <p class="tl-guide-p-grey">コレクション機能を使用すると、写真や動画をアルバムとしてまとめ、ファンに公開することができます。思い出の写真やイベントの様子などをファンと共有できます。</p>
                    
                    <!-- メイン動画セクション -->
                    <div class="tl-guide-video-section">
                        <!-- サムネイル表示部分 -->
                        <div class="tl-guide-video-thumbnail-container" onclick="tlGuideOpenVideoModal()">
                            <div class="tl-guide-video-wrapper">
                                <img class="tl-guide-video-thumbnail" src="{% static 'front/img/top/functional_specs/collection.png' %}" alt="コレクション機能の説明動画サムネイル">
                            </div>
                            <div class="tl-guide-play-overlay">
                                <i class="material-icons">play_arrow</i>
                            </div>
                        </div>

                        <!-- ビデオモーダル -->
                        <div class="tl-guide-video-modal" id="tlGuideVideoModal">
                            <span class="tl-guide-close-modal" onclick="tlGuideCloseVideoModal()">&times;</span>
                            <div class="tl-guide-modal-content">
                                <video controls class="tl-guide-modal-video" id="tlGuideModalVideo">
                                    <source src="{% static 'front/video/functional_specs/collection.mp4' %}" type="video/mp4">
                                    お使いのブラウザは動画の再生に対応していません。
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 作成方法コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-create-content">
                <div class="tl-guide-steps">
                    <h2 class="tl-guide-h2-mb-2">コレクションの作成手順</h2>
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>投稿画面へのアクセス</h4>
                                <p>3つの方法から選択できます：</p>
                                
                                <h5 class="tl-guide-h5-mt-1-5">方法1: ホーム画面から</h5>
                                <p class="tl-guide-p-mb-1">ホーム画面の「Collection」セクション内の「➕」ボタンをタップ</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection2.jpg' %}" alt="ホーム画面からコレクションを追加" class="tl-guide-step-img">
                                </div>
                                
                                <h5 class="tl-guide-h5-mt-2">方法2: コレクション一覧画面から</h5>
                                <p class="tl-guide-p-mb-1">コレクション一覧画面の右下にある「➕」ボタンをタップ</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection3.jpg' %}" alt="コレクション一覧から追加" class="tl-guide-step-img">
                                </div>
                                
                                <h5 class="tl-guide-h5-mt-2">方法3: More画面から</h5>
                                <p class="tl-guide-p-mb-1">More画面の「コンテンツ」をタップ → 「Collection」を選択</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection1.jpg' %}" alt="More画面からコレクションを追加" class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>コンテンツの入力・設定</h4>
                                <p>必要情報を入力します。アプリの入力欄に「＊」がついている項目は必須項目です。</p>
                                
                                <div class="tl-guide-accordion tl-guide-accordion-mt-1">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>タイトル</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>コレクションのタイトルを入力することができます。<br/>
                                        50文字までの入力が可能ですが、長いタイトルは省略して表示される場合がありますのでご注意ください。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>サムネイル画像</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>一覧画面などに表示するための画像を設定することができます。<br/>
                                        GIFなどは設定できません。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>メディア</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>コレクションとして投稿する画像や動画を選択することができます。<br/>
                                        一度の投稿・保存で以下の制限があります。<br/>
                                        &nbsp;1. 一度の投稿・保存で合計500MBまで<br/>
                                        &nbsp;2. 一度の投稿・保存で合計10個まで<br/><br/>

                                        大きいサイズのメディアを投稿したい場合は、圧縮して小さくしていただくか、一度作成してから編集時に追加してください。<br/>
                                        10個以上のメディアを登録したい場合は、一度作成してから編集画面での追加を行なってください。<br/><br/>
                                        
                                        編集時も一度に送ることができるメディアの数は10個までとなります。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>公開開始日時</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>コレクションを公開する日時を設定することができます。<br/>
                                        過去の日付では設定できません。<br/>
                                        こちらを設定しないとコレクションを作成することができませんので、公開開始日時が未定の場合は、未来の日付を入力してください。<br/>
                                        編集から日時を変更することができます。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>公開終了日時</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>コレクションの公開を終了する日時を設定することができます。<br/>
                                        こちらに設定した日時を過ぎますと、ファンの方含め全てのユーザーの画面に表示されなくなります。<br/>
                                        こちらの項目は設定しないことも可能です。設定しなかった場合、公開期間が無期限となります。<br/>
                                        公開期間を変更したい場合は、編集画面から変更することができます。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>公開範囲</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>公開範囲では、コレクションをどのファンの方に向けて公開するかを選択することができます。<br/>
                                        コレクションには3種類の公開範囲が存在します。<br/>
                                        &nbsp;1. 全体向け<br/>
                                        &nbsp;2. 有料会員向け<br/>
                                        &nbsp;3. 個人向け<br/><br/>

                                        1の全体向けでは、ゲストの方も含め、全てのファンの方が見ることができます。<br/>
                                        2の有料会員向けでは、サブスクリプションに登録しているファンの方のみが見ることができます。<br/>
                                        3の個人向けでは、選択した特定のファンの方のみが見ることができます。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>スクリーンショットの許可</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>ファンの方々がスクリーンショットを撮れないように設定することができます。<br/>
                                        設定をONにすると、スクリーンショットを撮ることができ、OFFにすると撮ることができません。<br/><br/>

                                        ONにした場合、スクリーンショットを撮ると黒い画像に置き換わります。<br/>
                                        また、画面録画も同様に黒い画面が録画されます。
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>プッシュ通知</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>プッシュ通知設定では、コレクションを公開した際にファンの方に通知を送るかどうかを選択することができます。<br/>
                                        ONにすると通知が送られ、OFFにすると通知は送られません。<br/><br/>
                                        </p>
                                        <p class="tl-guide-p-mt-1-red">※編集では変更できない項目です。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>ピン留め</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>ピン留めでは、特定のコレクションを固定することができます。<br/>
                                        ピン留めをONにすると固定、OFFにすると固定しません。<br/><br/>

                                        コレクションが表示される箇所はHome画面とCollection画面ですが、ピン留めされたコレクションはこのHome画面のみで固定されます。<br/>
                                        基本、公開した順に表示されますが、ピン留めされたコレクションは公開日時関係なく一番初めに表示されるようになります。<br/><br/>

                                        ピン留め設定をONにできるのは、1つのコレクションのみです。<br/>
                                        あるコレクションでピン留めをONにした後、別のコレクションでピン留めをONにすると、最初にONにしていたコレクションは自動的にピン留めが解除されます。<br/>
                                        ご注意ください。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>確認と投稿</h4>
                                <p>内容を最終確認し、「投稿する」ボタンをタップして完了です。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 編集・削除コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-edit-content">
                <!-- 編集セクション -->
                <div class="tl-guide-steps">
                    <h2 class="tl-guide-h2-mb-2">コレクションの編集</h2>
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>編集するコレクションを選択</h4>
                                <p>コレクション一覧から編集したいコレクションを選択し、詳細画面を開きます。</p>
                                <p class="tl-guide-p-mt-1-red">※権限によって編集ができない場合があります。詳しくは権限設定をご確認ください。</p>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>編集ボタンをタップ</h4>
                                <p>詳細画面の「ペンアイコン」ボタンをタップして編集画面に遷移します。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection4.jpg' %}" alt="詳細画面の編集ボタン" class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>コレクション内容を修正</h4>
                                <p>編集可能な項目：</p>
                                <ul class="tl-guide-ul-edit">
                                    <li>タイトルの修正（最大50文字）</li>
                                    <li>サムネイル画像の変更</li>
                                    <li>メディアファイルの追加・削除（一度に10個まで）</li>
                                    <li>公開開始日時・公開終了日時</li>
                                    <li>公開範囲（全体/有料会員/個人）</li>
                                    <li>スクリーンショット許可設定</li>
                                    <li>ピン留め設定</li>
                                </ul>
                                <p class="tl-guide-p-mt-1-red">※プッシュ通知設定は編集できません</p>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">4</div>
                            <div class="tl-guide-step-content">
                                <h4>変更を保存</h4>
                                <p>編集が完了したら「編集する」ボタンをタップして変更を保存します。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 削除セクション -->
                <div class="tl-guide-steps tl-guide-steps-mt-3">
                    <h2 class="tl-guide-h2-mb-2">コレクションの削除</h2>
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>削除するコレクションを選択</h4>
                                <p>コレクション一覧から削除したいコレクションを選択し、詳細画面を開きます。</p>
                                <p class="tl-guide-p-mt-1-red">※権限によって削除ができない場合があります。詳しくは権限設定をご確認ください。</p>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>削除ボタンをタップ</h4>
                                <p>詳細画面の「ゴミ箱アイコン」ボタンをタップします。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection5.jpg' %}" alt="詳細画面の削除ボタン" class="tl-guide-step-img">
                                </div>
                                <div class="tl-guide-tips tl-guide-tips-mt-1">
                                    <h4><i class="material-icons">warning</i> 削除前の確認事項</h4>
                                    <ul>
                                        <li>削除したコレクションは復元できません</li>
                                        <li>コレクション内のすべてのメディアファイルも削除されます</li>
                                        <li>ピン留めされたコレクションを削除すると、ピン留めは自動解除されます</li>
                                        <li>公開予定・公開中の状態でも削除可能です</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>削除を確認</h4>
                                <p>確認ダイアログが表示されるので、本当に削除してよいか最終確認します。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection6.jpg' %}" alt="確認ダイアログ" class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">4</div>
                            <div class="tl-guide-step-content">
                                <h4>削除完了</h4>
                                <p>「削除する」をタップすると、コレクションが完全に削除されます。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 詳細機能コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-features-content">
                <div class="tl-guide-card">
                    <h2 class="tl-guide-h2-mb-2">詳細機能の説明</h2>
                    
                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>メディアファイルの仕様</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p><strong>アップロード可能なファイル：</strong></p>
                            <ul class="tl-guide-ul-features">
                                <li>画像: JPEG, PNG（GIFは不可）</li>
                                <li>動画: MP4, MOV</li>
                                <li>一度の投稿・保存で合計500MBまで</li>
                                <li>一度の投稿・保存で合計10個まで</li>
                            </ul>
                            <p>10個以上のメディアを登録する場合は、編集機能で追加してください。</p>
                        </div>
                    </div>

                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>公開範囲の種類</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p>3種類の公開範囲から選択できます。</p>
                            <ul class="tl-guide-ul-features">
                                <li><strong>全体向け：</strong>ゲストを含むすべてのユーザーが閲覧可能</li>
                                <li><strong>有料会員向け：</strong>月額有料会員に登録しているファンの方のみ閲覧可能</li>
                                <li><strong>個人向け：</strong>選択した特定のファンのみ閲覧可能</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>スクリーンショット制限機能</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p>コンテンツの保護機能です。</p>
                            <ul class="tl-guide-ul-features">
                                <li>OFF設定時：スクリーンショット・画面録画が制限されます</li>
                                <li>制限時は黒い画面として記録されます</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>メディアの削除方法</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p>コレクション内の個別メディアを削除する手順です。</p>
                            <div class="tl-guide-operation-wrapper">
                                <ol class="tl-guide-operation-list">
                                    <li>
                                        詳細画面で削除したいメディアの「×」ボタンをタップ
                                        <div class="tl-guide-operation-img-inline">
                                            <img src="{% static 'front/img/functional_specs/collection/collection7.jpg' %}" 
                                                alt="メディアの削除ボタン" 
                                                class="tl-guide-operation-img">
                                        </div>
                                    </li>
                                    <li>
                                        確認ダイアログで「削除する」を選択
                                        <div class="tl-guide-operation-img-inline">
                                            <img src="{% static 'front/img/functional_specs/collection/collection8.jpg' %}" 
                                                alt="削除確認ダイアログ" 
                                                class="tl-guide-operation-img">
                                        </div>
                                    </li>
                                </ol>
                                <p class="tl-guide-p-mt-1-red">※権限によってメディアの削除ができない場合があります。詳しくは権限設定をご確認ください。</p>
                            </div>
                        </div>
                    </div>

                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>絞り込み（ソート）機能</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p>コレクションの表示順を一時的に変更できる機能です。各ユーザーごとに設定でき、他のユーザーには影響しません。</p>
                            <div class="tl-guide-operation-wrapper">
                                <ol class="tl-guide-operation-list">
                                    <li>
                                        コレクション一覧画面右上の「絞り込み」アイコンをタップ
                                        <div class="tl-guide-operation-img-inline">
                                            <img src="{% static 'front/img/functional_specs/collection/collection9.jpg' %}" 
                                                alt="絞り込みアイコン" 
                                                class="tl-guide-operation-img">
                                        </div>
                                    </li>
                                    <li>
                                        表示したい並び順を選択
                                        <div class="tl-guide-operation-img-inline">
                                            <img src="{% static 'front/img/functional_specs/collection/collection10.jpg' %}" 
                                                alt="並び順の選択画面" 
                                                class="tl-guide-operation-img">
                                        </div>
                                    </li>
                                    <li>
                                        適用ボタンをタップ
                                    </li>
                                </ol>
                                <p><strong>選択可能な並び順：</strong></p>
                                <ul class="tl-guide-ul-features">
                                    <li>新しい順</li>
                                    <li>古い順</li>
                                    <li>タイトル（昇順）</li>
                                    <li>タイトル（降順）</li>
                                    <li>公開中</li>
                                    <li>公開前</li>
                                </ul>
                                <p class="tl-guide-p-mt-1-red">※この設定は一時的なもので、画面を移動すると初期状態に戻ります。</p>
                            </div>
                        </div>
                    </div>

                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>ピン留め（お気に入り）機能</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p>お気に入りのコレクションをピン留めして、一覧画面の上部に固定表示できる機能です。</p>
                            <div class="tl-guide-operation-wrapper">
                                <ol class="tl-guide-operation-list">
                                    <li>
                                        コレクション詳細画面の「ピン」アイコンをタップ
                                        <div class="tl-guide-operation-img-inline">
                                            <img src="{% static 'front/img/functional_specs/collection/collection11.jpg' %}" 
                                                alt="ピンアイコン" 
                                                class="tl-guide-operation-img">
                                        </div>
                                    </li>
                                    <li>
                                        アイコンが塗りつぶされてピン留め完了
                                        <div class="tl-guide-operation-img-inline">
                                            <img src="{% static 'front/img/functional_specs/collection/collection12.jpg' %}" 
                                                alt="ピン留め完了状態" 
                                                class="tl-guide-operation-img">
                                        </div>
                                    </li>
                                </ol>
                                <p><strong>ピン留め機能の特徴：</strong></p>
                                <ul class="tl-guide-ul-features">
                                    <li>複数のコレクションをピン留め可能</li>
                                    <li>ピン留めしたコレクションは常に一覧の上部に表示</li>
                                    <li>各ユーザーごとの設定（他のユーザーには影響しない）</li>
                                    <li>ピン留め後は一度別画面に移動し、戻ってきた時に反映されます</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- 並べ替え機能コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-sort-content">
                <!-- コレクションの並べ替え -->
                <div class="tl-guide-steps">
                    <h2 class="tl-guide-h2-mb-2">コレクションの並べ替え</h2>
                    
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>コレクション一覧画面を開く</h4>
                                <p>コレクション一覧画面に移動します。</p>
                                <p class="tl-guide-p-mt-1-red">※権限によって並べ替えができない場合があります。詳しくは権限設定をご確認ください。</p>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>並べ替え画面に移動</h4>
                                <p>画面右下の「並べ替え」アイコンをタップします。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection13.jpg' %}" 
                                        alt="並べ替えアイコン" 
                                        class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>コレクションをドラッグして移動</h4>
                                <p>移動したいコレクションを長押しして、希望の位置にドラッグします。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection14.jpg' %}" 
                                        alt="コレクションをドラッグ" 
                                        class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">4</div>
                            <div class="tl-guide-step-content">
                                <h4>並べ替えを保存</h4>
                                <p>「保存」ボタンをタップして、並べ替えを確定します。</p>
                                <div class="tl-guide-tips tl-guide-tips-mt-1">
                                    <h4><i class="material-icons">info</i> 並べ替えの注意点</h4>
                                    <ul>
                                        <li>並べ替えた順序はすべてのユーザーに即座に反映されます</li>
                                        <li>ピン留めされたコレクションは常に最上部に表示されます</li>
                                        <li>公開前のコレクションも並べ替え可能です</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- メディアの並べ替え -->
                <div class="tl-guide-steps tl-guide-steps-mt-3">
                    <h2 class="tl-guide-h2-mb-2">メディアの並べ替え</h2>
                    
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>コレクション詳細画面を開く</h4>
                                <p>並べ替えたいメディアが含まれるコレクションの詳細画面を開きます。</p>
                                <p class="tl-guide-p-mt-1-red">※権限によって並べ替えができない場合があります。詳しくは権限設定をご確認ください。</p>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>並べ替え画面に移動</h4>
                                <p>画面右下の「並べ替え」アイコンをタップします。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection15.jpg' %}" 
                                        alt="並べ替えボタン" 
                                        class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>メディアの並べ替え</h4>
                                <p>メディア一覧で、移動したいメディアを長押しして希望の位置にドラッグします。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/collection/collection16.jpg' %}" 
                                        alt="メディアの並べ替え" 
                                        class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">4</div>
                            <div class="tl-guide-step-content">
                                <h4>変更を保存</h4>
                                <p>「保存」ボタンをタップして変更を保存します。</p>
                                <div class="tl-guide-tips tl-guide-tips-mt-1">
                                    <h4><i class="material-icons">info</i> 並べ替えの注意点</h4>
                                    <ul>
                                        <li>並べ替えた順序はすべてのユーザーに即座に反映されます</li>
                                        <li>ピン留めされたコレクションは常に最上部に表示されます</li>
                                        <li>公開前のコレクションも並べ替え可能です</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tl-guide-content" id="tl-guide-permissions-content">
                <div class="tl-guide-permissions">
                    <h2>権限と利用可能な機能</h2>
                    
                    <!-- デスクトップ用テーブル -->
                    <table class="tl-guide-perm-table">
                        <thead>
                            <tr>
                                <th>機能</th>
                                <th>アーティスト</th>
                                <th>スタッフ</th>
                                <th>管理者</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>コレクションの新規作成</td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                            <tr>
                                <td>コレクションの編集</td>
                                <td><span class="tl-guide-limited">△</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                            <tr>
                                <td>コレクションの削除</td>
                                <td><span class="tl-guide-limited">△</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                            <tr>
                                <td>コレクションメディアの削除</td>
                                <td><span class="tl-guide-limited">△</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                            <tr>
                                <td>コレクションの並べ替え</td>
                                <td><span class="tl-guide-unavailable">×</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                            <tr>
                                <td>コレクションメディアの並べ替え</td>
                                <td><span class="tl-guide-limited">△</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tl-guide-perm-legend tl-guide-perm-legend-desktop">
                        <div class="tl-guide-perm-legend-item">
                            <span class="tl-guide-available">○</span>
                            <span>利用可能</span>
                        </div>
                        <div class="tl-guide-perm-legend-item">
                            <span class="tl-guide-limited">△</span>
                            <span>自分が作成・実施したものだけ可能</span>
                        </div>
                        <div class="tl-guide-perm-legend-item">
                            <span class="tl-guide-unavailable">×</span>
                            <span>利用不可</span>
                        </div>
                    </div>
                    
                    <!-- モバイル用カード表示 -->
                    <div class="tl-guide-perm-mobile">
                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">コレクションの新規作成</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">コレクションの編集</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-limited">△</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">コレクションの削除</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-limited">△</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">コレクションメディアの削除</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-limited">△</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>

                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">コレクションの並べ替え</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-unavailable">×</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>

                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">コレクションメディアの並べ替え</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-limited">△</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tl-guide-perm-legend">
                            <div class="tl-guide-perm-legend-item">
                                <span class="tl-guide-available">○</span>
                                <span>利用可能</span>
                            </div>
                            <div class="tl-guide-perm-legend-item">
                                <span class="tl-guide-limited">△</span>
                                <span>自分が作成・実施したものだけ可能</span>
                            </div>
                            <div class="tl-guide-perm-legend-item">
                                <span class="tl-guide-unavailable">×</span>
                                <span>利用不可</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-navigation">
                <!-- 前後の記事リンク -->
                <div class="spec-nav-links">
                </div>
                {% include 'front/functional_specs/_spec_list.html' %}
            </div>
        </div>
    </div>

{% endblock %}