{% extends 'front/_base.html' %}
{% load static %}
{% block content %}

    <div class="tl-guide-wrapper">
        <div class="tl-guide-container">
            <!-- ヘッダーセクション -->
            <div class="tl-guide-header">
                <h1 class="tl-guide-title">ショップ機能の使い方（グッズ）</h1>
                <p class="tl-guide-subtitle">オリジナルグッズなどのアイテムをファンに直接販売する機能のガイド</p>
            </div>

            <!-- メインナビゲーション -->
            <div class="tl-guide-nav">
                <button class="tl-guide-nav-item active" onclick="tlGuideShowContent('overview')">
                    概要
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('create')">
                    作成方法
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('edit')">
                    編集・削除
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('features')">
                    詳細機能
                </button>
                <button class="tl-guide-nav-item" onclick="tlGuideShowContent('permissions')">
                    権限設定
                </button>
            </div>

            <!-- 概要コンテンツ -->
            <div class="tl-guide-content active" id="tl-guide-overview-content">
                <div class="tl-guide-card">
                    <!-- 機能概要 -->
                    <h2 class="tl-guide-h2-mb-1">ショップの機能概要</h2>
                    <p class="tl-guide-p-grey">ショップの機能（グッズ）を使えば、あなたのファンに向けて直接商品を販売することができます。オリジナルグッズなどのアイテムを簡単に出品・管理できます。</p>
                    
                    <!-- メイン動画セクション -->
                    <div class="tl-guide-video-section">
                        <!-- サムネイル表示部分 -->
                        <div class="tl-guide-video-thumbnail-container" onclick="tlGuideOpenVideoModal()">
                            <div class="tl-guide-video-wrapper">
                                <img class="tl-guide-video-thumbnail" src="{% static 'front/img/top/functional_specs/goods_shop.png' %}" alt="グッズ機能の説明動画サムネイル">
                            </div>
                            <div class="tl-guide-play-overlay">
                                <i class="material-icons">play_arrow</i>
                            </div>
                        </div>

                        <!-- ビデオモーダル -->
                        <div class="tl-guide-video-modal" id="tlGuideVideoModal">
                            <span class="tl-guide-close-modal" onclick="tlGuideCloseVideoModal()">&times;</span>
                            <div class="tl-guide-modal-content">
                                <video controls class="tl-guide-modal-video" id="tlGuideModalVideo">
                                    <source src="{% static 'front/video/functional_specs/goods_shop.mp4' %}" type="video/mp4">
                                    お使いのブラウザは動画の再生に対応していません。
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 作成方法コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-create-content">
                <div class="tl-guide-steps">
                    <h2 class="tl-guide-h2-mb-2">グッズ商品の作成手順</h2>
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>新規商品画面へのアクセス</h4>
                                <p>3つの方法から選択できます：</p>
                                <p class="tl-guide-p-mt-1-red">※権限によって作成ができない場合があります。詳しくは権限設定をご確認ください。</p>
                                
                                <h5 class="tl-guide-h5-mt-1-5">方法1: Shop画面から</h5>
                                <p class="tl-guide-p-mb-1">画面下部のフッターにある「Shop」をタップ → 商品一覧画面の右下にある「➕」ボタンをタップ</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/goods_shop/goods_shop3.jpg' %}" alt="フッターから商品を追加する説明画像" class="tl-guide-step-img">
                                </div>
                                
                                <h5 class="tl-guide-h5-mt-2">方法2: ホーム画面から</h5>
                                <p class="tl-guide-p-mb-1">ホーム画面の「Shop」セクション内の「➕」ボタンをタップ</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/goods_shop/goods_shop2.jpg' %}" alt="ホーム画面から商品を追加する説明画像" class="tl-guide-step-img">
                                </div>
                                
                                <h5 class="tl-guide-h5-mt-2">方法3: More画面から</h5>
                                <p class="tl-guide-p-mb-1">More画面の「コンテンツ」をタップ → 「Shop」を選択</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/goods_shop/goods_shop1.jpg' %}" alt="More画面から商品を追加する説明画像" class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>

                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>商品タイプの選択</h4>
                                <p>画面上部の表示が「グッズ商品作成」となっていることを確認します。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/goods_shop/goods_shop7.jpg' %}" alt="販売商品の種類の選択" class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>

                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>商品情報の入力・設定</h4>
                                <p>必要情報を入力します。アプリの入力欄に「＊」がついている項目は必須項目です。</p>
                                
                                <div class="tl-guide-accordion tl-guide-accordion-mt-1">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>一覧表示用画像</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>一覧画面などに表示するための画像を設定することができます。<br/>
                                        GIFなどは設定できません。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>商品画像</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>商品の画像や動画を選択していただけます。<br/>
                                        一度の投稿・保存で以下の制限をかけさせていただいております。<br/>
                                        &nbsp;1. 一度の投稿・保存で合計500MBまで<br/>
                                        &nbsp;2. 一度の投稿・保存で合計10個まで<br/><br/>

                                        大きいサイズのメディアを投稿したい場合は、圧縮して小さくしていただくか、一度作成してから編集時に追加していただきますようお願いいたします。<br/>
                                        10個以上のメディアを登録したい場合は、一度作成してから編集画面での追加をお願いいたします。<br/><br/>
                                        
                                        編集時も一度に送ることができるメディアの数は10個までとなります。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>商品名</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>商品名を入力することができます。<br/>
                                        50文字までの入力が可能ですが、長い名前は省略して表示される場合がございますのでご注意ください。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>商品説明</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>出品する商品についての説明を入力することができます。<br/>
                                        1,000文字まで入力可能です。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>販売価格（コイン）</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>何コインで商品を出品するかを設定することができます。<br/>
                                        1コイン = 1円です。<br/>
                                        ファンの方はコインを購入して、購入したコインでこちらの商品を購入します。<br/><br/>

                                        コインは100コイン刻みでのみ設定可能となります。</p>
                                        <p class="tl-guide-p-mt-1-red">※編集では変更できない項目です。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>販売数の有無</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>販売数の有無は在庫のことで、在庫を設定することができます。<br/>
                                        設定をONにすると在庫数を設定することができ、OFFにすると在庫はなしとして登録されます。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>販売数</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>こちらは在庫数を設定することができます。<br/>
                                        商品の在庫が50個であれば、販売数の有無をONにした状態で50と入力してください。<br/>
                                        在庫なしの商品の場合、販売数の有無はOFFにしてください。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>購入制限</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>1人あたり何個商品を購入できるかを設定することができます。<br/>
                                        設定をONにすると、制限をつけることになり、OFFにすると制限なしでの出品となります。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>購入制限（1人あたり）</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>1人あたりの最大購入数を設定することができます。<br/>
                                        もしおひとり様2個まで購入可能な商品を出品したい場合は、購入制限をONにした上でこちらに"2"を入力してください。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>販売開始日時</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>商品の販売開始日時を設定することができます。<br/>
                                        過去の日付では設定できません。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>販売終了日時</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>販売を終了する日時を設定することができます。<br/>
                                        こちらに設定した日時を過ぎますと、ファンの方含め全てのユーザーの画面にこの商品が表示されなくなります。<br/>
                                        こちらの項目は設定しないことも可能です。<br/>
                                        設定しなかった場合、無期限に購入が可能となります。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>販売範囲</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>販売範囲では、どのファンの方に向けて商品を出品するかを選択することができます。<br/>
                                        3種類の販売範囲が存在します。<br/>
                                        &nbsp;1. 全体向け<br/>
                                        &nbsp;2. 有料会員向け<br/>
                                        &nbsp;3. 個人向け<br/><br/>

                                        1の全体向けでは、会員登録しているファンの方全員が商品を購入できます。<br/>
                                        ゲストの方は商品を見ることはできても、購入することはできません。<br/>
                                        2の有料会員向けでは、有料会員に登録しているファンの方が商品を購入できます。<br/>
                                        3の個人向けでは、選択した特定のファンの方のみが商品を購入できます。</p>
                                        <p class="tl-guide-p-mt-1-red">※販売開始後には変更できない項目です。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>プッシュ通知</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>プッシュ通知設定では、商品の販売が開始された際にファンの方に通知を送るかどうかを選択することができます。<br/>
                                        ONにすると通知が送られ、OFFにすると通知は送られません。</p>
                                        <p class="tl-guide-p-mt-1-red">※編集では変更できない項目です。</p>
                                    </div>
                                </div>
                                
                                <div class="tl-guide-accordion">
                                    <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                                        <h5>ピン留め</h5>
                                        <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                                    </div>
                                    <div class="tl-guide-accordion-content">
                                        <p>ピン留めでは、特定の商品を固定することができます。<br/>
                                        ピン留めをONにすると固定、OFFにすると固定しません。<br/><br/>

                                        商品が表示される箇所はHome画面とShop画面ですが、この2箇所で固定されます。<br/>
                                        基本、販売開始した順に表示されますが、固定された商品は販売開始日時関係なく一番初めに表示されるようになります。<br/><br/>

                                        ピン留め設定をONにできるのは、1つの商品のみです。<br/>
                                        ある商品でピン留めをONにした後、別の商品でピン留めをONにすると、最初にONにしていた商品は自動的にピン留めが解除されます<br/>
                                        グッズ、2shot、デジタルコンテンツ合わせて、その中で1つの商品に適用されます。<br/>
                                        ご注意ください。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>確認と登録</h4>
                                <p>入力内容を確認し、「登録する」をタップして商品を登録します。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 編集・削除コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-edit-content">
                <!-- 編集セクション -->
                <div class="tl-guide-steps">
                    <h2 class="tl-guide-h2-mb-2">商品の編集</h2>
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>編集する商品を選択</h4>
                                <p>商品一覧から編集したい商品を選択し、詳細画面を開きます。</p>
                                <p class="tl-guide-p-mt-1-red">※権限によって編集ができない場合があります。詳しくは権限設定をご確認ください。</p>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>編集ボタンをタップ</h4>
                                <p>詳細画面の「ペンアイコン」ボタンをタップして編集画面に遷移します。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/goods_shop/goods_shop4.jpg' %}" alt="詳細画面の編集ボタン" class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>商品情報を修正</h4>
                                <p>編集可能な項目：</p>
                                <ul class="tl-guide-ul-edit">
                                    <li>商品名（最大50文字）</li>
                                    <li>商品説明（最大1000文字）</li>
                                    <li>商品画像の追加・削除（一度に10個まで）</li>
                                    <li>販売数</li>
                                    <li>一人当たり購入制限数</li>
                                    <li>販売開始日時</li>
                                    <li>販売終了日時</li>
                                </ul>
                                <p class="tl-guide-p-mt-1-red">※以下の項目は編集できません：</p>
                                <ul class="tl-guide-ul-edit">
                                    <li>販売価格（コイン）</li>
                                    <li>販売範囲（全体/有料会員/個人）</li>
                                    <li>プッシュ通知設定</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">4</div>
                            <div class="tl-guide-step-content">
                                <h4>変更を保存</h4>
                                <p>編集が完了したら「編集する」ボタンをタップして変更を保存します。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 削除セクション -->
                <div class="tl-guide-steps tl-guide-steps-mt-3">
                    <h2 class="tl-guide-h2-mb-2">商品の削除</h2>
                    <div class="tl-guide-timeline">
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">1</div>
                            <div class="tl-guide-step-content">
                                <h4>削除する商品を選択</h4>
                                <p>商品一覧から削除したい商品を選択し、詳細画面を開きます。</p>
                                <p class="tl-guide-p-mt-1-red">※権限によって削除ができない場合があります。詳しくは権限設定をご確認ください。</p>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">2</div>
                            <div class="tl-guide-step-content">
                                <h4>削除ボタンをタップ</h4>
                                <p>詳細画面の「ゴミ箱アイコン」ボタンをタップします。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/goods_shop/goods_shop5.jpg' %}" alt="詳細画面の削除ボタン" class="tl-guide-step-img">
                                </div>
                                <div class="tl-guide-tips tl-guide-tips-mt-1">
                                    <h4><i class="material-icons">warning</i> 削除前の確認事項</h4>
                                    <ul>
                                        <li>削除した商品は復元できません</li>
                                        <li>商品内のすべてのメディアファイルも削除されます</li>
                                        <li>ピン留めされた商品を削除すると、ピン留めは自動解除されます</li>
                                        <li>販売予定・販売中の状態でも削除可能です</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">3</div>
                            <div class="tl-guide-step-content">
                                <h4>削除を確認</h4>
                                <p>確認ダイアログが表示されるので、本当に削除してよいか最終確認します。</p>
                                <div class="tl-guide-step-img-container">
                                    <img src="{% static 'front/img/functional_specs/goods_shop/goods_shop6.jpg' %}" alt="確認ダイアログ" class="tl-guide-step-img">
                                </div>
                            </div>
                        </div>
                        <div class="tl-guide-step-item">
                            <div class="tl-guide-step-number">4</div>
                            <div class="tl-guide-step-content">
                                <h4>削除完了</h4>
                                <p>「削除する」をタップすると、商品が完全に削除されます。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 詳細機能コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-features-content">
                <div class="tl-guide-card">
                    <h2 class="tl-guide-h2-mb-2">詳細機能の説明</h2>
                    
                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>在庫管理機能</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p><strong>在庫設定の特徴：</strong></p>
                            <ul class="tl-guide-ul-features">
                                <li>在庫数の設定により、販売個数を管理できます</li>
                                <li>在庫がなくなると自動的に「在庫切れ」表示になります</li>
                                <li>在庫なし設定の場合は無制限に販売可能です</li>
                                <li>編集機能で在庫数の追加・変更が可能です</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tl-guide-accordion">
                        <div class="tl-guide-accordion-header" onclick="tlGuideToggleAccordion(this.parentElement)">
                            <h5>購入制限機能</h5>
                            <i class="material-icons tl-guide-accordion-icon">expand_more</i>
                        </div>
                        <div class="tl-guide-accordion-content">
                            <p>購入制限を設定することで、より多くのファンに購入機会を提供できます。</p>
                            <ul class="tl-guide-ul-features">
                                <li><strong>限定商品の販売時：</strong>特定のファンによる大量購入を防ぎます</li>
                                <li><strong>人気商品の再販時：</strong>前回購入できなかったファンにも機会を提供できます</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 権限設定コンテンツ -->
            <div class="tl-guide-content" id="tl-guide-permissions-content">
                <div class="tl-guide-permissions">
                    <h2>権限と利用可能な機能</h2>
                    
                    <!-- デスクトップ用テーブル -->
                    <table class="tl-guide-perm-table">
                        <thead>
                            <tr>
                                <th>機能</th>
                                <th>アーティスト</th>
                                <th>スタッフ</th>
                                <th>管理者</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>グッズ商品の新規作成</td>
                                <td><span class="tl-guide-unavailable">×</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                            <tr>
                                <td>グッズ商品の編集</td>
                                <td><span class="tl-guide-unavailable">×</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                            <tr>
                                <td>グッズ商品の削除</td>
                                <td><span class="tl-guide-unavailable">×</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                                <td><span class="tl-guide-available">○</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tl-guide-perm-legend tl-guide-perm-legend-desktop">
                        <div class="tl-guide-perm-legend-item">
                            <span class="tl-guide-available">○</span>
                            <span>利用可能</span>
                        </div>
                        <div class="tl-guide-perm-legend-item">
                            <span class="tl-guide-unavailable">×</span>
                            <span>利用不可</span>
                        </div>
                    </div>
                    
                    <!-- モバイル用カード表示 -->
                    <div class="tl-guide-perm-mobile">
                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">グッズ商品の新規作成</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-unavailable">×</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">グッズ商品の編集</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-unavailable">×</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tl-guide-perm-card">
                            <div class="tl-guide-perm-card-title">グッズ商品の削除</div>
                            <div class="tl-guide-perm-card-roles">
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">アーティスト</div>
                                    <div class="tl-guide-perm-role-status tl-guide-unavailable">×</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">スタッフ</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                                <div class="tl-guide-perm-role">
                                    <div class="tl-guide-perm-role-name">管理者</div>
                                    <div class="tl-guide-perm-role-status tl-guide-available">○</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tl-guide-perm-legend">
                            <div class="tl-guide-perm-legend-item">
                                <span class="tl-guide-available">○</span>
                                <span>利用可能</span>
                            </div>
                            <div class="tl-guide-perm-legend-item">
                                <span class="tl-guide-unavailable">×</span>
                                <span>利用不可</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ナビゲーション -->
            <div class="spec-navigation">
                <!-- 前後の記事リンク -->
                <div class="spec-nav-links">
                </div>
                {% include 'front/functional_specs/_spec_list.html' %}
            </div>
        </div>
    </div>

{% endblock %}