{% extends 'front/_base.html' %}

{% block content %}
  <div class="container help">
    <h2 class="help-title">会社概要</h2>
<table class="table">
  <tbody>
    <tr>
      <td>会社名</td>
      <td>株式会社L4U（エルフォーユー）</td>
    </tr>
    <tr>
      <td>代表者</td>
      <td>米沢 晋</td>
    </tr>
    <tr>
      <td>設立</td>
      <td>2025年3月</td>
    </tr>
    <tr>
      <td>住所</td>
      <td>〒173-0024<br />東京都板橋区大山金井町38-6</td>
    </tr>
    <tr>
      <td>事業内容</td>
      <td>ソフトウェアサービス提供</td>
    </tr>
  </tbody>
</table>
  </div>

{% endblock %}
