{% extends 'front/_base.html' %}

{% block content %}
  <div class="container help">
    <h2 class="help-title">プライバシーポリシー</h2>
    
    <!-- ここからヘルプ本文 -->
    <textarea class="privacy-text">

株式会社L4U（以下「当社」といいます。）は、利用者に関する情報を以下のとおり取り扱います。

第1条 個人情報の定義
本プライバシーポリシーにおける、「個人情報」とは、個人情報の保護に関する法律に規定される「個人情報」及び当社サービスの利用に係るパスワードを指します。

第2条 個人情報の取得
利用目的の達成に必要な範囲で、個人情報を適正に取得し、不正な手段により取得することはありません。

第3条 利用目的
取得した個人情報を以下の目的で利用します。
①お客様へのサービスの提供
②当社からの連絡事項の伝達、お客様からの問合せの回答等を目的としたお客様への連絡
③代金の支払い・精算、その他取引等に関連した案内・確認
④当社及び提携先のマーケティング活動やサービス改善の為のアンケートの実施
⑤その他、上記利用目的に付帯・関連する業務
⑥法令または行政当局の通達・指導などに基づく対応

第4条 第三者提供
個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
①お客様の同意がある場合
②お客様が希望するサービスを行なうために当社が業務を委託する業者に対して開示する場合
③法令に基づき開示することが必要である場合

第5条 照会、修正、削除等
お客様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。但し、但し、対応する事により以下に該当には、対応をしない場合があります。
①本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
②当社の適切な業務実施に著しい支障を及ぼす可能性がある場合
③その他法令に違反する事につながるおそれがある場合、また、履歴情報や特性情報などの個人情報以外の情報については、原則として開示いたしません。

第6条 お問い合わせ窓口
個人情報の取り扱いに関するお問い合わせは、問合せフォームよりお願いいたします。

第7条 プライバシーポリシー
当社は、必要に応じて、本プライバシーポリシーを変更いたします。なお、本プライバシーポリシーを変更する場合は、その内容を当社のウェブサイト上で表示いたします。

第１版 2025年4月1日　制定


    </textarea>
  </div>

{% endblock %}
